<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockComment:End</key>
	<string>*/</string>
	<key>BlockComment:Start</key>
	<string>/*</string>
	<key>Identifiers</key>
	<array>
		<string>LookupTable</string>
		<string>writeGameInfo</string>
		<string>VehicleBarrier</string>
		<string>PushTravelBarrier</string>
		<string>Room</string>
		<string>DarkRoom</string>
		<string>class</string>
		<string>modify</string>
		<string>replace</string>
		<string>Enterable</string>
		<string>ListGroupParen</string>
		<string>ListGroupSorted</string>
		<string>Thing</string>
		<string>ThingState</string>
		<string>Container</string>
		<string>OpenableContainer</string>
		<string>Achievement</string>
		<string>Person</string>
		<string>Keyring</string>
		<string>BagOfHolding</string>
		<string>dobjFor</string>
		<string>check</string>
		<string>action</string>
		<string>Vehicle</string>
		<string>Chair</string>
		<string>BasicChair</string>
		<string>PlatformChair</string>
		<string>Door</string>
		<string>Decoration</string>
		<string>TravelPushable</string>
		<string>NumberedDial</string>
		<string>Component</string>
		<string>return</string>
		<string>inherited</string>
		<string>Fixed</string>
		<string>Platform</string>
		<string>exit</string>
		<string>foreach</string>
		<string>reportFailure</string>
		<string>if</string>
		<string>else</string>
		<string>for</string>
		<string>Switch</string>
		<string>Surface</string>
		<string>name</string>
		<string>desc</string>
		<string>north</string>
		<string>east</string>
		<string>south</string>
		<string>west</string>
		<string>in</string>
		<string>out</string>
		<string>roomBeforeAction</string>
		<string>finishGame</string>
		<string>construct</string>
		<string>new</string>
		<string>local</string>
		<string>Actor</string>
		<string>location</string>
		<string>main</string>
		<string>gPlayerChar</string>
		<string>runGame</string>
		<string>execute</string>
		<string>isOpen</string>
		<string>isIn</string>
		<string>useSpecialDesc</string>
		<string>specialDesc</string>
		<string>isPlural</string>
		<string>true</string>
		<string>Food</string>
		<string>vocabWords_</string>
		<string>listWith</string>
		<string>isEquivalent</string>
		<string>afterAction</string>
		<string>addToScore</string>
		<string>issueCommandsSynchronously</string>
		<string>bulkCapacity</string>
		<string>Openable</string>
		<string>isProperName</string>
		<string>isHim</string>
		<string>obeyCommand</string>
		<string>mainReport</string>
		<string>useInitDesc</string>
		<string>initDesc</string>
		<string>interiorDesc</string>
		<string>makeOpen</string>
		<string>Noise</string>
		<string>isListed</string>
		<string>SenseConnector</string>
		<string>RandomTextList</string>
		<string>nil</string>
		<string>verify</string>
		<string>iobjFor</string>
		<string>remapTo</string>
		<string>sourceDesc</string>
		<string>switch</string>
		<string>case</string>
		<string>default</string>
		<string>break</string>
		<string>Button</string>
		<string>LockableWithKey</string>
		<string>ComplexComponent</string>
		<string>Dial</string>
		<string>Odor</string>
		<string>VerbRule</string>
		<string>DefineTAction</string>
		<string>verbPhrase</string>
		<string>preCond</string>
		<string>illogical</string>
		<string>remap</string>
		<string>singleDobj</string>
		<string>mainRestore</string>
		<string>execAction</string>
		<string>execEvent</string>
		<string>finishGame</string>
		<string>rexMatch</string>
	</array>
	<key>Identifiers:Charset</key>
	<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz_1234567890</string>
	<key>OneLineComment:Start</key>
	<string>//</string>
	<key>PreprocessorDirectives</key>
	<array>
		<string>#include</string>
		<string>#charset</string>
		<string>#define</string>
		<string>#ifdef</string>
		<string>#if</string>
		<string>#else</string>
		<string>#elif</string>
		<string>#endif</string>
		<string>#undef</string>
	</array>
</dict>
</plist>
